name: Build & Deploy FastAPI Sentiment Demo

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & push image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/fastapi-ml-sentiment-demo:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/fastapi-ml-sentiment-demo:${{ github.run_number }}

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-deploy
    steps:
      - name: Deploy to Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/fastapi-ml-sentiment-demo:latest
            docker stop fastapi-demo || true
            docker rm fastapi-demo || true
            docker run -d -p 8000:8000 --name fastapi-demo ${{ secrets.DOCKERHUBUSERNAME }}/fastapi-ml-sentiment-demo:latest
